:root {
    --yellow-base: #edd900;
    --red-base: #ed0004;
    --gold-base: #a6874e;
    --white-base: #fff;
    --gray-main: #c6c5c5;
    --black-default: #161616;
    --base-button: #9f762a;
    --additionaly-link: #cbaa65;
    --avatar-background: #faf7f4;
    --disabled-default: #e3e3e3;
    --disabled-text-default: #afafaf;
    --filters-input: #e1dfda;
    --gray-dark: #5a5a5a;
    --input-base: #f8f5f0;
    --modal-background: rgba(22, 22, 22, 0.4);
}

:root[data-theme='dark'] {
    --background-default: #262626;
    --text-primary: #fff;
    --text-secondary: #262626;
    --divider-main: #4a4a4c;
    --opacity-white: #4a4a4c;
    --accent-main: #fff;
    --background-secondary: #4b4b4d;
    --background-primary: #393939;
    --burger-accent: #4a4a4c;
    --burger-hover: #fff;
    --burger-line-hover: #262626;
    --accent-background-1: #161616;
    --accent-background-2: #161616;
    --block-white: #4a4a4c;
    --base-color: #fff;
    --link-hover: #a6874e;
    --answer-background: #393939;
    --link-background: #737373;
    --gray-light: #969696;
    --ui-background: #4a4a4c;
    --opacity-text: rgba(225, 225, 225, 0.7);
    --sorting-hover: #393939;
    --sorting-active: #5a5a5a;
    --pagination-link: #fff;
    --pagination-hover: #5a5a5a;
    --pagination-disabled: rgba(74, 74, 76, 0.4);
    --image-background: rgba(86, 86, 86, 0.8);
    --button-background: #5a5a5a;
    --translucent-background: linear-gradient(90deg, rgba(42, 42, 43, 0) 0%, #2a2a2b 100%);
    --slider-avatar: #2b2b2c;
    --statistics-background: #737373;
    --filters-border: #7b7b7b;
    --filters-result: #3b3b3b;
    --modal-inner: #323232;
    --table-border: #5a5a5a;
    --table-background: #393939;
    --additionaly-text: rgba(225, 225, 225, 0.6);
    --fixed-border: #4a4a4c;
    --tab-hover: #fff;
    --quantity-input: #323232;
    --card-text: rgba(225, 225, 225, 0.8);
    --card-border: rgba(255, 255, 255, 0.2);
    --checkout-radio: #6e6e70;
    --checkout-checkbox: #6e6e70;
    --custom-border: #6e6e70;
    --custom-background: #c6c5c5;
    --comparison-border: rgba(255, 255, 255, 0.1);
    --comparison-background: #323232;
    --cart-count: #161616;
    --card-border: #4a4a4c;
    --section-background: linear-gradient(180deg, rgba(74, 74, 76, 0) 0%, #4a4a4c 100%);
    --black-white: #161616;
}

:root[data-theme='light'] {
    --background-default: #fff;
    --text-primary: #161616;
    --text-secondary: #fff;
    --divider-main: #c6c5c5;
    --opacity-white: #f8f5f0;
    --accent-main: #a6874e;
    --background-secondary: #fff;
    --background-primary: #f8f5f0;
    --burger-accent: #a6874e;
    --burger-hover: #f8f5f0;
    --burger-line-hover: #a6874e;
    --accent-background-1: #a6874e;
    --accent-background-2: #cfbe9f;
    --block-white: #fff;
    --base-color: #000;
    --link-hover: #161616;
    --answer-background: #fbfaf7;
    --link-background: #161616;
    --gray-light: #c6c5c5;
    --opacity-text: rgba(22, 22, 22, 0.7);
    --ui-background: #fbfaf7;
    --sorting-hover: #f8f5f0;
    --sorting-active: #fafafa;
    --pagination-link: #071c2f;
    --pagination-hover: #eee5d4;
    --pagination-disabled: #f0f0f0;
    --image-background: rgba(207, 190, 159, 0.8);
    --button-background: rgba(166, 135, 78, 0.2);
    --translucent-background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    --slider-avatar: #faf7f4;
    --statistics-background: #f8f8f8;
    --filters-border: #e1dfda;
    --filters-result: #f8f8f8;
    --modal-inner: #fff;
    --table-border: #f0f0f0;
    --table-background: #fff;
    --additionaly-text: rgba(22, 22, 22, 0.6);
    --fixed-border: rgba(225, 223, 218, 0.4);
    --tab-hover: rgba(166, 135, 78, 0.2);
    --quantity-input: #fff;
    --card-text: rgba(22, 22, 22, 0.8);
    --card-border: rgba(45, 12, 10, 0.2);
    --checkout-radio: #e1dfda;
    --checkout-checkbox: #a6a6a6;
    --custom-border: #f7f7f7;
    --custom-background: #fff;
    --comparison-border: rgba(0, 12, 29, 0.15);
    --comparison-background: #f8f5f0;
    --cart-count: #ed0004;
    --card-border: #f0f0f0;
    --section-background: linear-gradient(180deg, rgba(248, 245, 240, 0) 0%, #f8f5f0 100%);
    --black-white: #fff;
}
